.u-section-1 {
  background-image: url("../images/37665854-0.jpeg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 650px;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 92px;
  margin-bottom: 0;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 558px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-line-1 {
  height: 237px;
  width: 3px;
  transform-origin: center bottom 0px;
  margin: 84px auto 0;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 558px;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px;
}

.u-section-1 .u-text-1 {
  font-size: 2.25rem;
  font-weight: 600;
  background-image: none;
  margin: 74px 92px 0 -62px;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  border-style: none;
  font-size: 2.25rem;
  margin: 53px auto 0 -62px;
}

.u-section-1 .u-text-2 {
  font-size: 8rem;
  margin: -605px 92px 0 253px;
}

.u-section-1 .u-image-1 {
  width: 172px;
  height: 172px;
  margin: -156px auto 60px 56px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 438px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-top: -662px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 460px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 460px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 166px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-btn-1 {
    margin-left: 0;
  }

  .u-section-1 .u-text-2 {
    font-size: 6.25rem;
    margin-top: -18px;
    margin-right: 0;
    margin-left: 145px;
  }

  .u-section-1 .u-image-1 {
    margin-left: 37px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 330px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-top: -681px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 352px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-1 .u-text-2 {
    font-size: 4.5rem;
    margin-left: 0;
  }

  .u-section-1 .u-image-1 {
    width: 120px;
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1134px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-top: -861px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 1056px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-line-1 {
    height: 143px;
    transform-origin: center top;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-2 {
    font-size: 6rem;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 743px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-top: -691px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 665px;
  }

  .u-section-1 .u-line-1 {
    height: 148px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-1 .u-text-2 {
    font-size: 3.75rem;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 20px;
}.u-section-3 {
  background-image: url("images/37665854-0.jpeg");
  background-position: 50% 50%;
}

.u-section-3 .u-sheet-1 {
  min-height: 650px;
}

.u-section-3 .u-layout-wrap-1 {
  margin-top: 92px;
  margin-bottom: 0;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 558px;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px;
}

.u-section-3 .u-line-1 {
  height: 237px;
  width: 3px;
  transform-origin: center bottom 0px;
  margin: 84px auto 0;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 558px;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px;
}

.u-section-3 .u-text-1 {
  font-size: 2.25rem;
  font-weight: 600;
  background-image: none;
  margin: 74px 81px 0 -81px;
}

.u-section-3 .u-btn-1 {
  background-image: none;
  border-style: none;
  font-size: 2.25rem;
  margin: 52px auto 0 -81px;
}

.u-section-3 .u-text-2 {
  font-size: 8rem;
  margin: -605px 111px 0 234px;
}

.u-section-3 .u-image-1 {
  width: 172px;
  height: 172px;
  margin: -156px auto 60px 56px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 438px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-top: -662px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 460px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 460px;
  }

  .u-section-3 .u-text-1 {
    margin-top: 166px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-btn-1 {
    margin-left: 0;
  }

  .u-section-3 .u-text-2 {
    font-size: 6.25rem;
    margin-top: -18px;
    margin-right: 11px;
    margin-left: 134px;
  }

  .u-section-3 .u-image-1 {
    margin-left: 37px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 330px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-top: -681px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 352px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-3 .u-text-2 {
    font-size: 4.5rem;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-image-1 {
    width: 120px;
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1134px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-top: -861px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 1056px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-line-1 {
    height: 143px;
    transform-origin: center top;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-text-2 {
    font-size: 6rem;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 743px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-top: -691px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 665px;
  }

  .u-section-3 .u-line-1 {
    height: 148px;
  }

  .u-section-3 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-3 .u-text-2 {
    font-size: 3.75rem;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 20px;
}.u-section-5 {
  background-image: url("images/37665854-0.jpeg");
  background-position: 50% 50%;
}

.u-section-5 .u-sheet-1 {
  min-height: 650px;
}

.u-section-5 .u-layout-wrap-1 {
  margin-top: 92px;
  margin-bottom: 0;
}

.u-section-5 .u-layout-cell-1 {
  min-height: 558px;
}

.u-section-5 .u-container-layout-1 {
  padding: 30px;
}

.u-section-5 .u-line-1 {
  height: 237px;
  width: 3px;
  transform-origin: center bottom 0px;
  margin: 84px auto 0;
}

.u-section-5 .u-layout-cell-2 {
  min-height: 558px;
}

.u-section-5 .u-container-layout-2 {
  padding: 30px;
}

.u-section-5 .u-text-1 {
  font-size: 2.25rem;
  font-weight: 600;
  background-image: none;
  margin: 74px 87px 0 -87px;
}

.u-section-5 .u-btn-1 {
  background-image: none;
  border-style: none;
  font-size: 2.25rem;
  margin: 52px auto 0 -87px;
}

.u-section-5 .u-image-1 {
  width: 172px;
  height: 172px;
  margin: -621px auto 0 56px;
}

.u-section-5 .u-text-2 {
  font-size: 8rem;
  margin: -156px 117px 60px 228px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 438px;
  }

  .u-section-5 .u-layout-wrap-1 {
    margin-top: -662px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 460px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 460px;
  }

  .u-section-5 .u-text-1 {
    margin-top: -479px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-btn-1 {
    margin-left: 0;
  }

  .u-section-5 .u-image-1 {
    margin-left: 37px;
  }

  .u-section-5 .u-text-2 {
    font-size: 6.25rem;
    margin-top: 534px;
    margin-right: 17px;
    margin-left: 145px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 330px;
  }

  .u-section-5 .u-layout-wrap-1 {
    margin-top: -681px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 352px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-5 .u-text-1 {
    margin-top: -491px;
  }

  .u-section-5 .u-image-1 {
    width: 120px;
    margin-left: 0;
  }

  .u-section-5 .u-text-2 {
    font-size: 4.5rem;
    margin-top: 577px;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1134px;
  }

  .u-section-5 .u-layout-wrap-1 {
    margin-top: -861px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 1056px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-line-1 {
    height: 143px;
    transform-origin: center top;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-text-1 {
    margin-top: -474px;
  }

  .u-section-5 .u-text-2 {
    font-size: 6rem;
    margin-top: 534px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 743px;
  }

  .u-section-5 .u-layout-wrap-1 {
    margin-top: -691px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 665px;
  }

  .u-section-5 .u-line-1 {
    height: 148px;
  }

  .u-section-5 .u-text-1 {
    font-size: 1.5rem;
    margin-top: -441px;
  }

  .u-section-5 .u-text-2 {
    font-size: 3.75rem;
    margin-top: 540px;
  }
}.u-section-6 .u-sheet-1 {
  min-height: 20px;
}.u-section-7 {
  background-image: url("images/37665854-0.jpeg");
  background-position: 50% 50%;
}

.u-section-7 .u-sheet-1 {
  min-height: 650px;
}

.u-section-7 .u-layout-wrap-1 {
  margin-top: 86px;
  margin-bottom: 0;
}

.u-section-7 .u-layout-cell-1 {
  min-height: 558px;
}

.u-section-7 .u-container-layout-1 {
  padding: 30px;
}

.u-section-7 .u-line-1 {
  height: 237px;
  width: 3px;
  transform-origin: center bottom 0px;
  margin: 84px auto 0;
}

.u-section-7 .u-layout-cell-2 {
  min-height: 564px;
}

.u-section-7 .u-container-layout-2 {
  padding: 30px;
}

.u-section-7 .u-text-1 {
  font-size: 2.25rem;
  font-weight: 600;
  background-image: none;
  margin: 84px 87px 0 -87px;
}

.u-section-7 .u-btn-1 {
  background-image: none;
  border-style: none;
  font-size: 2.25rem;
  margin: 24px auto 0 -87px;
}

.u-section-7 .u-image-1 {
  width: 172px;
  height: 172px;
  margin: -621px auto 0 56px;
}

.u-section-7 .u-text-2 {
  font-size: 8rem;
  margin: -156px 117px 60px 228px;
}

@media (max-width: 1199px) {
  .u-section-7 .u-sheet-1 {
    min-height: 437px;
  }

  .u-section-7 .u-layout-wrap-1 {
    margin-top: -662px;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 460px;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 465px;
  }

  .u-section-7 .u-text-1 {
    margin-top: -479px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-7 .u-btn-1 {
    margin-left: 0;
    margin-top: 28px;
  }

  .u-section-7 .u-image-1 {
    margin-left: 37px;
  }

  .u-section-7 .u-text-2 {
    font-size: 6.25rem;
    margin-top: 534px;
    margin-right: 6px;
    margin-left: 145px;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-sheet-1 {
    min-height: 324px;
  }

  .u-section-7 .u-layout-wrap-1 {
    margin-top: -681px;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 352px;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-7 .u-text-1 {
    margin-top: -491px;
  }

  .u-section-7 .u-image-1 {
    width: 120px;
    margin-left: 0;
  }

  .u-section-7 .u-text-2 {
    font-size: 4.5rem;
    margin-top: 577px;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-sheet-1 {
    min-height: 1128px;
  }

  .u-section-7 .u-layout-wrap-1 {
    margin-top: -861px;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 1056px;
  }

  .u-section-7 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-line-1 {
    height: 143px;
    transform-origin: center top;
  }

  .u-section-7 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-text-1 {
    margin-top: -474px;
  }

  .u-section-7 .u-text-2 {
    font-size: 6rem;
    margin-top: 534px;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-sheet-1 {
    min-height: 737px;
  }

  .u-section-7 .u-layout-wrap-1 {
    margin-top: -691px;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 665px;
  }

  .u-section-7 .u-line-1 {
    height: 148px;
  }

  .u-section-7 .u-text-1 {
    font-size: 1.5rem;
    margin-top: -441px;
  }

  .u-section-7 .u-text-2 {
    font-size: 3.75rem;
    margin-top: 540px;
  }
}.u-section-8 .u-sheet-1 {
  min-height: 20px;
}.u-section-9 {
  background-image: url("images/37665854-0.jpeg");
  background-position: 50% 50%;
}

.u-section-9 .u-sheet-1 {
  min-height: 650px;
}

.u-section-9 .u-layout-wrap-1 {
  margin-top: 92px;
  margin-bottom: 0;
}

.u-section-9 .u-layout-cell-1 {
  min-height: 558px;
}

.u-section-9 .u-container-layout-1 {
  padding: 30px;
}

.u-section-9 .u-line-1 {
  height: 237px;
  width: 3px;
  transform-origin: center bottom 0px;
  margin: 84px auto 0;
}

.u-section-9 .u-layout-cell-2 {
  min-height: 564px;
}

.u-section-9 .u-container-layout-2 {
  padding: 30px;
}

.u-section-9 .u-text-1 {
  font-size: 2.25rem;
  font-weight: 600;
  background-image: none;
  margin: 73px 87px 0 -87px;
}

.u-section-9 .u-btn-1 {
  background-image: none;
  border-style: none;
  font-size: 2.25rem;
  margin: 29px auto 0 -87px;
}

.u-section-9 .u-image-1 {
  width: 172px;
  height: 172px;
  margin: -627px auto 0 56px;
}

.u-section-9 .u-text-2 {
  font-size: 8rem;
  margin: -156px 117px 60px 228px;
}

@media (max-width: 1199px) {
  .u-section-9 .u-sheet-1 {
    min-height: 437px;
  }

  .u-section-9 .u-layout-wrap-1 {
    margin-top: -662px;
  }

  .u-section-9 .u-layout-cell-1 {
    min-height: 460px;
  }

  .u-section-9 .u-layout-cell-2 {
    min-height: 465px;
  }

  .u-section-9 .u-text-1 {
    margin-top: -479px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-9 .u-btn-1 {
    margin-left: 0;
    margin-top: 28px;
  }

  .u-section-9 .u-image-1 {
    margin-left: 37px;
  }

  .u-section-9 .u-text-2 {
    font-size: 6.25rem;
    margin-top: 534px;
    margin-right: 17px;
    margin-left: 145px;
  }
}

@media (max-width: 991px) {
  .u-section-9 .u-sheet-1 {
    min-height: 324px;
  }

  .u-section-9 .u-layout-wrap-1 {
    margin-top: -681px;
  }

  .u-section-9 .u-layout-cell-1 {
    min-height: 352px;
  }

  .u-section-9 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-9 .u-text-1 {
    margin-top: -491px;
  }

  .u-section-9 .u-image-1 {
    width: 120px;
    margin-left: 0;
  }

  .u-section-9 .u-text-2 {
    font-size: 4.5rem;
    margin-top: 577px;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-9 .u-sheet-1 {
    min-height: 1128px;
  }

  .u-section-9 .u-layout-wrap-1 {
    margin-top: -861px;
  }

  .u-section-9 .u-layout-cell-1 {
    min-height: 1056px;
  }

  .u-section-9 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-9 .u-line-1 {
    height: 143px;
    transform-origin: center top;
  }

  .u-section-9 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-9 .u-text-1 {
    margin-top: -474px;
  }

  .u-section-9 .u-text-2 {
    font-size: 6rem;
    margin-top: 534px;
  }
}

@media (max-width: 575px) {
  .u-section-9 .u-sheet-1 {
    min-height: 737px;
  }

  .u-section-9 .u-layout-wrap-1 {
    margin-top: -691px;
  }

  .u-section-9 .u-layout-cell-1 {
    min-height: 665px;
  }

  .u-section-9 .u-line-1 {
    height: 148px;
  }

  .u-section-9 .u-text-1 {
    font-size: 1.5rem;
    margin-top: -441px;
  }

  .u-section-9 .u-text-2 {
    font-size: 3.75rem;
    margin-top: 540px;
  }
}.u-section-10 .u-sheet-1 {
  min-height: 20px;
}.u-section-11 {
  background-image: url("images/37665854-0.jpeg");
  background-position: 50% 50%;
}

.u-section-11 .u-sheet-1 {
  min-height: 650px;
}

.u-section-11 .u-layout-wrap-1 {
  margin-top: 86px;
  margin-bottom: 0;
}

.u-section-11 .u-layout-cell-1 {
  min-height: 558px;
}

.u-section-11 .u-container-layout-1 {
  padding: 30px;
}

.u-section-11 .u-line-1 {
  height: 237px;
  width: 3px;
  transform-origin: center bottom 0px;
  margin: 84px auto 0;
}

.u-section-11 .u-layout-cell-2 {
  min-height: 564px;
}

.u-section-11 .u-container-layout-2 {
  padding: 30px;
}

.u-section-11 .u-text-1 {
  font-size: 2.25rem;
  font-weight: 600;
  background-image: none;
  margin: 74px 59px 0 -59px;
}

.u-section-11 .u-btn-1 {
  background-image: none;
  border-style: none;
  font-size: 2.25rem;
  margin: 48px auto 0 -59px;
}

.u-section-11 .u-image-1 {
  width: 172px;
  height: 172px;
  margin: -621px auto 0 56px;
}

.u-section-11 .u-text-2 {
  font-size: 8rem;
  margin: -163px 89px 60px 256px;
}

@media (max-width: 1199px) {
  .u-section-11 .u-sheet-1 {
    min-height: 437px;
  }

  .u-section-11 .u-layout-wrap-1 {
    margin-top: -662px;
  }

  .u-section-11 .u-layout-cell-1 {
    min-height: 460px;
  }

  .u-section-11 .u-layout-cell-2 {
    min-height: 465px;
  }

  .u-section-11 .u-text-1 {
    margin-top: -479px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-11 .u-btn-1 {
    margin-left: 0;
    margin-top: 28px;
  }

  .u-section-11 .u-image-1 {
    margin-left: 37px;
  }

  .u-section-11 .u-text-2 {
    font-size: 6.25rem;
    margin-top: 534px;
    margin-right: 0;
    margin-left: 145px;
  }
}

@media (max-width: 991px) {
  .u-section-11 .u-sheet-1 {
    min-height: 324px;
  }

  .u-section-11 .u-layout-wrap-1 {
    margin-top: -681px;
  }

  .u-section-11 .u-layout-cell-1 {
    min-height: 352px;
  }

  .u-section-11 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-11 .u-text-1 {
    margin-top: -491px;
  }

  .u-section-11 .u-image-1 {
    width: 120px;
    margin-left: 0;
  }

  .u-section-11 .u-text-2 {
    font-size: 4.5rem;
    margin-top: 577px;
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-11 .u-sheet-1 {
    min-height: 1128px;
  }

  .u-section-11 .u-layout-wrap-1 {
    margin-top: -861px;
  }

  .u-section-11 .u-layout-cell-1 {
    min-height: 1056px;
  }

  .u-section-11 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-11 .u-line-1 {
    height: 143px;
    transform-origin: center top;
  }

  .u-section-11 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-11 .u-text-1 {
    margin-top: -474px;
  }

  .u-section-11 .u-text-2 {
    font-size: 6rem;
    margin-top: 534px;
  }
}

@media (max-width: 575px) {
  .u-section-11 .u-sheet-1 {
    min-height: 737px;
  }

  .u-section-11 .u-layout-wrap-1 {
    margin-top: -691px;
  }

  .u-section-11 .u-layout-cell-1 {
    min-height: 665px;
  }

  .u-section-11 .u-line-1 {
    height: 148px;
  }

  .u-section-11 .u-text-1 {
    font-size: 1.5rem;
    margin-top: -441px;
  }

  .u-section-11 .u-text-2 {
    font-size: 3.75rem;
    margin-top: 540px;
  }
}.u-section-12 .u-sheet-1 {
  min-height: 20px;
}.u-section-13 {
  background-image: url("images/37665854-0.jpeg");
  background-position: 50% 50%;
}

.u-section-13 .u-sheet-1 {
  min-height: 650px;
}

.u-section-13 .u-layout-wrap-1 {
  margin-top: 92px;
  margin-bottom: 0;
}

.u-section-13 .u-layout-cell-1 {
  min-height: 558px;
}

.u-section-13 .u-container-layout-1 {
  padding: 30px;
}

.u-section-13 .u-line-1 {
  height: 237px;
  width: 3px;
  transform-origin: center bottom 0px;
  margin: 84px auto 0;
}

.u-section-13 .u-layout-cell-2 {
  min-height: 564px;
}

.u-section-13 .u-container-layout-2 {
  padding: 30px;
}

.u-section-13 .u-text-1 {
  font-size: 8rem;
  margin: -77px 87px 0 -87px;
}

.u-section-13 .u-text-2 {
  font-size: 2.25rem;
  font-weight: 600;
  background-image: none;
  margin: 11px 87px 0 -87px;
}

.u-section-13 .u-btn-1 {
  background-image: none;
  border-style: none;
  font-size: 2.25rem;
  margin: 29px auto 0 -87px;
}

.u-section-13 .u-image-1 {
  width: 172px;
  height: 172px;
  margin: -627px auto 60px 56px;
}

@media (max-width: 1199px) {
  .u-section-13 .u-sheet-1 {
    min-height: 438px;
  }

  .u-section-13 .u-layout-wrap-1 {
    margin-top: -662px;
  }

  .u-section-13 .u-layout-cell-1 {
    min-height: 460px;
  }

  .u-section-13 .u-layout-cell-2 {
    min-height: 465px;
  }

  .u-section-13 .u-text-1 {
    font-size: 6.25rem;
    margin-top: 534px;
    margin-right: 0;
    margin-left: 145px;
  }

  .u-section-13 .u-text-2 {
    margin-top: -479px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-13 .u-btn-1 {
    margin-left: 0;
  }

  .u-section-13 .u-image-1 {
    margin-left: 37px;
  }
}

@media (max-width: 991px) {
  .u-section-13 .u-sheet-1 {
    min-height: 330px;
  }

  .u-section-13 .u-layout-wrap-1 {
    margin-top: -681px;
  }

  .u-section-13 .u-layout-cell-1 {
    min-height: 352px;
  }

  .u-section-13 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-13 .u-text-1 {
    font-size: 4.5rem;
    margin-top: 577px;
    margin-left: 0;
  }

  .u-section-13 .u-text-2 {
    margin-top: -491px;
  }

  .u-section-13 .u-image-1 {
    width: 120px;
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-13 .u-sheet-1 {
    min-height: 1134px;
  }

  .u-section-13 .u-layout-wrap-1 {
    margin-top: -861px;
  }

  .u-section-13 .u-layout-cell-1 {
    min-height: 1056px;
  }

  .u-section-13 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-13 .u-line-1 {
    height: 143px;
    transform-origin: center top;
  }

  .u-section-13 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-13 .u-text-1 {
    font-size: 6rem;
    margin-top: 534px;
  }

  .u-section-13 .u-text-2 {
    margin-top: -474px;
  }
}

@media (max-width: 575px) {
  .u-section-13 .u-sheet-1 {
    min-height: 743px;
  }

  .u-section-13 .u-layout-wrap-1 {
    margin-top: -691px;
  }

  .u-section-13 .u-layout-cell-1 {
    min-height: 665px;
  }

  .u-section-13 .u-line-1 {
    height: 148px;
  }

  .u-section-13 .u-text-1 {
    font-size: 3.75rem;
    margin-top: 540px;
  }

  .u-section-13 .u-text-2 {
    font-size: 1.5rem;
    margin-top: -441px;
  }
}.u-section-14 .u-sheet-1 {
  min-height: 20px;
}.u-section-15 {
  background-image: url("images/37665854-0.jpeg");
  background-position: 50% 50%;
}

.u-section-15 .u-sheet-1 {
  min-height: 650px;
}

.u-section-15 .u-layout-wrap-1 {
  margin-top: 92px;
  margin-bottom: 0;
}

.u-section-15 .u-layout-cell-1 {
  min-height: 558px;
}

.u-section-15 .u-container-layout-1 {
  padding: 30px;
}

.u-section-15 .u-line-1 {
  height: 237px;
  width: 3px;
  transform-origin: center bottom 0px;
  margin: 84px auto 0;
}

.u-section-15 .u-layout-cell-2 {
  min-height: 564px;
}

.u-section-15 .u-container-layout-2 {
  padding: 30px;
}

.u-section-15 .u-text-1 {
  font-size: 2.25rem;
  font-weight: 600;
  background-image: none;
  margin: 73px 87px 0 -87px;
}

.u-section-15 .u-btn-1 {
  background-image: none;
  border-style: none;
  font-size: 2.25rem;
  margin: 29px auto 0 -87px;
}

.u-section-15 .u-image-1 {
  width: 172px;
  height: 172px;
  margin: -627px auto 0 56px;
}

.u-section-15 .u-text-2 {
  font-size: 8rem;
  margin: -156px 117px 60px 228px;
}

@media (max-width: 1199px) {
  .u-section-15 .u-sheet-1 {
    min-height: 437px;
  }

  .u-section-15 .u-layout-wrap-1 {
    margin-top: -662px;
  }

  .u-section-15 .u-layout-cell-1 {
    min-height: 460px;
  }

  .u-section-15 .u-layout-cell-2 {
    min-height: 465px;
  }

  .u-section-15 .u-text-1 {
    margin-top: -479px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-15 .u-btn-1 {
    margin-left: 0;
    margin-top: 28px;
  }

  .u-section-15 .u-image-1 {
    margin-left: 37px;
  }

  .u-section-15 .u-text-2 {
    font-size: 6.25rem;
    margin-top: 534px;
    margin-right: 17px;
    margin-left: 145px;
  }
}

@media (max-width: 991px) {
  .u-section-15 .u-sheet-1 {
    min-height: 324px;
  }

  .u-section-15 .u-layout-wrap-1 {
    margin-top: -681px;
  }

  .u-section-15 .u-layout-cell-1 {
    min-height: 352px;
  }

  .u-section-15 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-15 .u-text-1 {
    margin-top: -491px;
  }

  .u-section-15 .u-image-1 {
    width: 120px;
    margin-left: 0;
  }

  .u-section-15 .u-text-2 {
    font-size: 4.5rem;
    margin-top: 577px;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-15 .u-sheet-1 {
    min-height: 1128px;
  }

  .u-section-15 .u-layout-wrap-1 {
    margin-top: -861px;
  }

  .u-section-15 .u-layout-cell-1 {
    min-height: 1056px;
  }

  .u-section-15 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-15 .u-line-1 {
    height: 143px;
    transform-origin: center top;
  }

  .u-section-15 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-15 .u-text-1 {
    margin-top: -474px;
  }

  .u-section-15 .u-text-2 {
    font-size: 6rem;
    margin-top: 534px;
  }
}

@media (max-width: 575px) {
  .u-section-15 .u-sheet-1 {
    min-height: 737px;
  }

  .u-section-15 .u-layout-wrap-1 {
    margin-top: -691px;
  }

  .u-section-15 .u-layout-cell-1 {
    min-height: 665px;
  }

  .u-section-15 .u-line-1 {
    height: 148px;
  }

  .u-section-15 .u-text-1 {
    font-size: 1.5rem;
    margin-top: -441px;
  }

  .u-section-15 .u-text-2 {
    font-size: 3.75rem;
    margin-top: 540px;
  }
}.u-section-16 .u-sheet-1 {
  min-height: 20px;
}.u-section-17 {
  background-image: url("images/37665854-0.jpeg");
  background-position: 50% 50%;
}

.u-section-17 .u-sheet-1 {
  min-height: 650px;
}

.u-section-17 .u-layout-wrap-1 {
  margin-top: 92px;
  margin-bottom: 0;
}

.u-section-17 .u-layout-cell-1 {
  min-height: 558px;
}

.u-section-17 .u-container-layout-1 {
  padding: 30px;
}

.u-section-17 .u-line-1 {
  height: 237px;
  width: 3px;
  transform-origin: center bottom 0px;
  margin: 84px auto 0;
}

.u-section-17 .u-layout-cell-2 {
  min-height: 564px;
}

.u-section-17 .u-container-layout-2 {
  padding: 30px;
}

.u-section-17 .u-text-1 {
  font-size: 2.25rem;
  font-weight: 600;
  background-image: none;
  margin: 73px 87px 0 -87px;
}

.u-section-17 .u-btn-1 {
  background-image: none;
  border-style: none;
  font-size: 2.25rem;
  margin: 29px auto 0 -87px;
}

.u-section-17 .u-image-1 {
  width: 172px;
  height: 172px;
  margin: -627px auto 0 56px;
}

.u-section-17 .u-text-2 {
  font-size: 8rem;
  margin: -156px 204px 60px 228px;
}

@media (max-width: 1199px) {
  .u-section-17 .u-sheet-1 {
    min-height: 437px;
  }

  .u-section-17 .u-layout-wrap-1 {
    margin-top: -662px;
  }

  .u-section-17 .u-layout-cell-1 {
    min-height: 460px;
  }

  .u-section-17 .u-layout-cell-2 {
    min-height: 465px;
  }

  .u-section-17 .u-text-1 {
    margin-top: -1007px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-17 .u-btn-1 {
    margin-top: 28px;
    margin-left: 0;
  }

  .u-section-17 .u-image-1 {
    margin-left: 37px;
  }

  .u-section-17 .u-text-2 {
    font-size: 6.25rem;
    margin-top: 418px;
    margin-right: 17px;
    margin-left: 145px;
  }
}

@media (max-width: 991px) {
  .u-section-17 .u-sheet-1 {
    min-height: 324px;
  }

  .u-section-17 .u-layout-wrap-1 {
    margin-top: -681px;
  }

  .u-section-17 .u-layout-cell-1 {
    min-height: 352px;
  }

  .u-section-17 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-17 .u-text-1 {
    margin-top: -1062px;
  }

  .u-section-17 .u-image-1 {
    width: 120px;
    margin-left: 0;
  }

  .u-section-17 .u-text-2 {
    font-size: 4.5rem;
    margin-top: 492px;
    margin-right: 0;
    margin-left: 12px;
  }
}

@media (max-width: 767px) {
  .u-section-17 .u-sheet-1 {
    min-height: 1128px;
  }

  .u-section-17 .u-layout-wrap-1 {
    margin-top: -861px;
  }

  .u-section-17 .u-layout-cell-1 {
    min-height: 1056px;
  }

  .u-section-17 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-17 .u-line-1 {
    height: 143px;
    transform-origin: center top;
  }

  .u-section-17 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-17 .u-text-1 {
    margin-top: -1045px;
  }

  .u-section-17 .u-text-2 {
    font-size: 6rem;
    margin-top: 466px;
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-17 .u-sheet-1 {
    min-height: 737px;
  }

  .u-section-17 .u-layout-wrap-1 {
    margin-top: -691px;
  }

  .u-section-17 .u-layout-cell-1 {
    min-height: 665px;
  }

  .u-section-17 .u-line-1 {
    height: 148px;
  }

  .u-section-17 .u-text-1 {
    font-size: 1.5rem;
    margin-top: -1047px;
  }

  .u-section-17 .u-text-2 {
    font-size: 3.75rem;
    margin-top: 540px;
  }
}.u-section-18 .u-sheet-1 {
  min-height: 20px;
}